.formLogin-container {
  max-width: 400px;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  overflow: hidden;

  /* Sombra para simular profundidad */
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
  /* Forma del div */
  border-radius: 20% 0 25% 0;
}

.formLogin-container-cabezera {
  width: 100%;
  height: 25%;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  padding: 1em 2.5em;
}

.formLogin-container-cabezera h3 {
  letter-spacing: 2px;
}

.formLogin-container-form {
  max-width: 400px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}

.formLogin-container-TextField {
  width: 280px;
}

.formLogin-container-button {
  display: flex;
  justify-content: end;
  padding: 1em;
}

.formLogin-container-button button {
  width: 130px;
  aspect-ratio: 2.2;
  border-radius: 50px;
  margin-top: 1em;
}


@media (width < 500px) {

  .formLogin-container {
    max-width: 350px;
    height: 550px;
  }

  .formLogin-container-cabezera h3 {
    letter-spacing: 1px;
    font-size: 2.8rem;
  }

  .formLogin-container-button button {
    width: 140px;
    aspect-ratio: 2.5;
  }
}