.create-form-preview {
    transition: transform 0.3s ease;
    width: 26px;
    cursor: pointer;
}

.create-form-preview:hover {
    transform: scale(0.9) rotate(-10deg);
}

.create-form-btn-status {
    width: 90px;
    height: 31px !important;
    font-size: 9px !important;
}

.disabled-button {
    pointer-events: none;
    opacity: 0.5;
    /* Cambia el color de fondo para indicar que está deshabilitado */
    cursor: not-allowed;
    /* Cambia el cursor para indicar que no es interactivo */
}

.disabled-button:hover {
    transform: none;
}